/* Reset some default styles */
body,
html {
  margin: 0;
  padding: 0;
}

/* Style the background container */
.background {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  height: 100vh;
  background-color: #f0f0f0;
}

/* Style the logo image */
.background img:first-child {
  max-width: 100%;
  height: 100%;
  /* margin-bottom: 20px; */
}

/* Style the button */
#myButton {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
  bottom: 200px;
  margin: auto;
  border-radius: 50%;
  width: 35%;
  height: 10%;
}

#myButton:hover {
  transform: scale(1.2);
}

/* Style the button image */
#myButton img {
  max-width: 100%;
  height: 100%;
}

/* Add any additional styles here */
